@import "tailwindcss";

@theme {
  /* Menghubungkan font Manrope dari layout.tsx ke Tailwind */
  --font-manrope: var(--font-manrope);

  /* Menambahkan warna utama */
  --color-primary: #5044e5;
}

/* Menambahkan fitur Dark Mode */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Mengatur font default untuk seluruh aplikasi */
  font-family: var(--font-manrope), ui-sans-serif, system-ui;
  font-weight: 500;
}

/* --- LOGIKA KURSOR --- */

/* 1. Hilangkan kursor secara global di level root */
html {
  cursor: none !important;
}

/* 2. Pastikan di Desktop kursor hilang di SEMUA elemen interaktif */
@media (min-width: 768px) {
  body,
  a,
  button,
  input,
  textarea,
  [role="button"] {
    cursor: none !important;
  }
}

/* 3. Kembalikan kursor bawaan di Mobile (Layar Sentuh) */
/* Karena di HP tidak ada custom kursor, user butuh kursor asli untuk input teks */
@media (max-width: 767px) {
  html,
  body,
  a,
  button,
  input,
  textarea {
    cursor: auto !important;
  }
}
